<h1>Welcome Trackerr App!</h1>
<h3>Rails 6 app deployed to AWS EC2 with Capistrano + Puma + nginx</h3>
<h4><%= link_to 'Project source: https://github.com/ingmarsk/Trackerr', 'https://github.com/ingmarsk/Trackerr' %></h4>
